@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i|Rock+Salt');

/*---------------------------------------------navbar*/

.navbar-container {
    background-color: #000;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.navbar-container a {
    color: #fff;
}

.navbar-container a:hover {
    color: #d11536;
}

.navbar-text {
    color: #fff;
}

.navbar form span {
    padding-right: 10px;
}

.navbar-toggler-icon .fa-bars {
    color: #fff;
    padding-top: 5px;
}


/*----------------------------------------------------cover*/

.cover-container {
    height: 100vh;
    background: url("../images/monkees.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cover {
    width: 600px;
    height: 400px;
}

.responsive {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: transparent;
}


/*----------------------------------------------------music*/

.music-container {}

.music-header h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 40px;
    font-weight: bold;
}

.song-item {
    margin-bottom: 50px;
}

.song-item p {
    font-weight: bold;
}

.music-icon-photo {
    width: 300px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.music-player {
    padding-top: 10px;
}
