@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i|Rock+Salt');

/*---------------------------------------------navbar*/

.navbar-container {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.navbar-container a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-container a:hover {
    color: #d11536;
}

.navbar-text {
    color: #fff;
}

.navbar form span {
    padding-right: 10px;
}

.navbar-toggler-icon .fa-bars {
    color: #fff;
    padding-top: 5px;
}

@media (max-width: 768px) {
    .navbar-container {
        background-color: #000000;
    }
}

/*----------------------------------------------------cover*/

.cover-container {
    height: 100vh;
    background: url("../images/monkees.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cover {
    width: 600px;
    height: 400px;
}

.responsive {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: transparent;
}

/*----------------------------------------------------music*/


.music-header h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 40px;
    color: #000000;
    text-transform: uppercase;
}

.song-item {
    margin-bottom: 50px;
}

.song-item p {
    font-weight: bold;
    color: #000000;
}

.music-icon-photo {
    width: 300px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.music-player {
    padding-top: 10px;
}

audio:focus {
    outline: none;
}


/*----------------------------------------------------aboutUs*/

.about-us-container {
    padding: 30px;
    background-color: #F2F4F4;
}

.video-player {
    padding: 40px;
}

.video-about {
    padding: 60px;
}

.video-about p {
    padding-top: 10px;
}

video {
    width: 100%;
    height: auto;
}

video:focus {
    outline: none;
}

@media (max-width: 768px) {
    .video-about h2 {
        text-align: center;
    }

    .video-player {
        padding: 10px;
    }

    .video-about {
        padding: 10px;
    }
}


/*----------------------------------------------------liveShows*/

.live-shows-container h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 40px;
    color: #000000;
    text-transform: uppercase;
}

.list-group-item {
    padding: 20px;
}

.cover-image-shows {
    padding: 25px;
}