@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i|Rock+Salt');

html {
  scroll-behavior: smooth;
}

/*---------------------------------------------navbar*/
.navbar-container {
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navbar-container ul li a {
  color: #fff;
  text-transform: uppercase;
}

.navbar-container ul li a:hover {
  color: #d11536;
}

.navbar-text {
  color: #fff;
}

.navbar form span {
  padding-right: 10px;
}

.navbar-toggler-icon .fa-bars {
  color: #fff;
  padding-top: 5px;
}

/*----------------------------------------------------cover*/
.cover-container {
  height: 100vh;
  background: url("../images/monkees.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-cover {
  width: 600px;
  height: 400px;
}

.responsive {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: auto;
}

.jumbotron {
  background-color: transparent;
}

/*----------------------------------------------------music*/
.music-header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.song-item {
  margin-bottom: 50px;
}

.song-item p {
  font-weight: bold;
  color: #000000;
}

.music-icon-photo {
  width: 300px;
  margin: 20px;
  border-radius: 7px;
}

.music-player {
  padding-top: 10px;
}

audio:focus {
  outline: none;
}

/*----------------------------------------------------aboutUs*/
.about-us-container {
  padding: 30px;
  background-color: #F2F4F4;
}

.video-player {
  width: 100%;
  padding: 20px 120px;
}

.video-about {
  padding: 30px 60px;
  text-align: center;
}

.video-about p {
  padding-top: 10px;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
}

video:focus {
  outline: none;
}

/*----------------------------------------------------liveShows*/
.live-shows-container h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.list-group-item {
  padding: 30px 20px;
}

.cover-image-shows {
  padding: 25px;
}

.list-group-item h5 {
  padding-bottom: 10px;
}

.list-group-item a {
  color: #d11536;
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  text-decoration: none;
}

.list-group-item a:hover {
  color: #de5e74;
}

/*----------------------------------------------------form*/
.form-container {
  background-color: #000000;
  color: #ffffff;
}

/*----------------------------------------------------footer*/
.socials {
  font-size: 40px;
  text-align: center;
  background-color: #000;
  color: #d11536;
  padding: 40px;
  letter-spacing: 5px;
}

.socials a {
  color: #d11536;
  text-decoration: none;
}

.socials a:hover {
  color: #de5e74;
}

.footer-header {
  color: #fff;
  letter-spacing: 0;
  font-weight: lighter;
}

/* Media query */
@media (max-width: 767px) {
  .cover-container {
    background: none;
    background-color: #000000;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .music-player {
    width: 100%;
  }

  .music-icon-photo {
    width: 165px;
  }

  .responsive {
    width: 60%;
  }

  .socials {
    padding: 0 40px 40px;
  }

  .video-about p {
    font-size: 12px;
  }

  .video-about {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .video-player {
    padding: 0;
  }

  .video-about {
    padding: 20px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .music-player {
    width: 100%;
  }

  .music-icon-photo {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .video-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}
